<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upmatching</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap" rel="stylesheet">
</head>
    <body>
        <% var counter = 0 %>
        <center>
            <div id="inst1">
                <h1 style="color:#fff;">Easy</h1>
            </div>
            <br/>
            <a style="color:rgb(24, 194, 24);" href="/leaderboard"><button class="easy">Easy</button></a>
            <a style="color:rgb(255, 255, 45);" href="/mediumleaderboard"><button class="medium">Medium</button></a>
            <a style="color:rgb(255, 50, 50);" href="/hardleaderboard"><button class="hard">Hard</button></a>
            <br/>
            <table class = "leaderboardTable">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Moves</th>
                    <th>Time</th>
                    <th>Score</th>
                </tr>
                <% leaderboards.forEach(function(item){ %>
                    <tr>
                        <td><%= ++counter %></td>
                        <td><%= item.username %></td>
                        <td><%= item.usermoves %></td>
                        <td><%= item.usertime %></td>
                        <td><%= item.userscore %></td>
                    </tr>
                <% }); %>
            </table>
            <br/>
            <a href="/"><button class="playagain">
                Play Game
            </button></a>
        </center>
    </body>
</html>   
